header {
  margin: 0 auto;
  padding: 30px 0 53px 0;
  max-width: 1296px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  
  .header-img {
    width: 157px;
  }
  nav {
    display: flex;
    gap: 30px;
  }
  .header-refs {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}


