* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

body {
  background-color: #210e09;
}

a {
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
  padding: 13px 26px;
  border-radius: 5px;
}
.btn.fill {
  display: inline-block;
  background-color: #d5621d;
  font-family: "Gotham Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.05em;
}
.btn.unfill {
  border: 2px solid #d5621d;
  font-family: "Stolzl", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  padding: 40px 0 80px 0;
}

.lead {
  font-family: Gotham Pro;
  letter-spacing: 0.05em;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 10px 20px 7px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-family: Gotham Pro;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-align: center;
}

.slider {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #d5621d;
}
.slider img {
  position: absolute;
  left: 30%;
  top: 30%;
}

header {
  margin: 0 auto;
  padding: 30px 0 53px 0;
  width: 1305px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.header-img {
  width: 157px;
}

nav {
  display: flex;
  gap: 30px;
}

.header-refs {
  font-family: "Stolzl", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

#hero {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 120px;
}
#hero .tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .images {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(213, 98, 29, 0.1019607843);
  gap: 26px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 39px 35px 37px 35px;
}
#hero .tab {
  background-color: rgba(213, 98, 29, 0.1019607843);
  flex: 1;
  font-family: Gotham Pro;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
  border-radius: 5px 5px 0px 0px;
  padding: 12px 10px 7px 10px;
  text-transform: uppercase;
  text-align: center;
}
#hero .right-tab {
  background-color: rgba(213, 98, 29, 0.0509803922);
}
#hero .left-side {
  font-family: Gotham Pro;
  position: relative;
}
#hero .left-side .div-since {
  position: absolute;
  bottom: 195px;
  left: 60px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  width: 154px;
  height: 44px;
  padding: 10px 20px 7px 20px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
#hero .left-side span {
  position: absolute;
  bottom: 45px;
  left: 60px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.05em;
}

#menu .section-footer {
  text-align: center;
}
#menu .sliders-grid-flex {
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
#menu .menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 56px 104px;
}
#menu .menu-item {
  display: flex;
  gap: 25px;
}
#menu .item-name-price {
  display: flex;
  justify-content: space-between;
  font-family: Gotham Pro;
  font-weight: 700;
  letter-spacing: 0.05em;
}
#menu .item-name-price span {
  font-size: 18px;
  line-height: 27px;
  padding: 5.5px 0;
}
#menu .item-name-price .price {
  padding: 8px 18px 5px 18px;
  border-radius: 5px;
  border: 2px solid #d5621d;
  font-size: 14px;
  line-height: 21px;
}
#menu .item-weight {
  font-family: Stolzl;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #d5621d;
  margin-bottom: 10px;
}
#menu .item-description {
  width: 351px;
  font-family: Stolzl;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

#events-tourists {
  display: flex;
  gap: 44px;
  align-items: start;
}
#events-tourists .side-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
#events-tourists .side-item h2 {
  padding-top: 5px;
  padding-bottom: 0;
}
#events-tourists .side-item .item-text {
  width: 376px;
  font-family: Stolzl;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

#techrider .rider-content {
  display: flex;
  justify-content: center;
  gap: 134px;
}
#techrider .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#techrider .dropdown-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 526px;
  font-family: Gotham Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
}
#techrider .dropdown-menu.closed {
  background-color: rgba(213, 98, 29, 0.1019607843);
}
#techrider .dropdown-menu.opened {
  background-color: #d5621d;
}
#techrider .dropdown-menu.opened .content {
  padding-top: 20px;
  text-transform: none;
  font-family: Stolzl;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}
#techrider .right-side {
  font-family: Gotham Pro;
  letter-spacing: 0.05em;
}
#techrider .right-side h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
#techrider .right-side .right-grid {
  display: grid;
  gap: 25px 24px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
#techrider .right-side span {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
#techrider .right-side .icon {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #D5621D;
}
#techrider .right-side .icon img {
  position: absolute;
  left: 22%;
  top: 23%;
}
#techrider .right-side .icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}/*# sourceMappingURL=main.css.map */