@import "common.scss";
@import "header.scss";

#hero {
  display: flex;
  justify-content: center;
  gap: 24px;
  
  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .images {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d5621d1a;
    gap: 26px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 39px 35px 37px 35px;
  }
  .tab {
    background-color: #d5621d1a;
    flex: 1;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.05em;
    border-radius: 5px 5px 0px 0px;
    padding: 12px 10px 7px 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .right-tab {
    background-color: #d5621d0d;
  }
}
