@import "common.scss";
@import "header.scss";

#hero {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 120px;

  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .images {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #d5621d1a;
    gap: 26px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 39px 35px 37px 35px;
  }
  .tab {
    background-color: #d5621d1a;
    flex: 1;
    font-family: Gotham Pro;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.05em;
    border-radius: 5px 5px 0px 0px;
    padding: 12px 10px 7px 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .right-tab {
    background-color: #d5621d0d;
  }
  .left-side {
    font-family: Gotham Pro;
    position: relative;

    .div-since {
      position: absolute;
      bottom: 195px;
      left: 60px;
      background-color: white;
      color: black;
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      width: 154px;
      height: 44px;
      padding: 10px 20px 7px 20px;
      border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
    }

    span {
      position: absolute;
      bottom: 45px;
      left: 60px;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0.05em;
    }
  }
}

#menu {
  h2 {
    padding: 40px 0 80px 0;
  }
  .section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-footer {
    text-align: center;
  }
  .sliders-grid-flex {
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px 104px;
  }
  .menu-item {
    display: flex;
    gap: 25px;
  }
  .item-name-price {
    display: flex;
    justify-content: space-between;
    font-family: Gotham Pro;
    font-weight: 700;
    letter-spacing: 0.05em;

    span {
      font-size: 18px;
      line-height: 27px;
      padding: 5.5px 0;
    }

    .price {
      padding: 8px 18px 5px 18px;
      border-radius: 5px;
      border: 2px solid #d5621d;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .item-weight {
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #d5621d;
    margin-bottom: 10px;
  }
  .item-description {
    width: 351px;
    font-family: Stolzl;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

#events-tourists {
  display: flex;
  gap: 44px;
  align-items: start;

  .side-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    h2 {
      padding-top: 5px;
    }

    .item-text {
      width: 376px;
      font-family: Stolzl;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: center;
    }
  }
}
